apiVersion: apps/v1
kind: Deployment
metadata:
  name: streamlit-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: streamlit-app
  template:
    metadata:
      labels:
        app: streamlit-app
    spec:
      containers:
      - name: streamlit-app
        image: <Docker Hub ID>/streamlit-app:latest
        ports:
        - name: streamlit
          containerPort: 8501

---
apiVersion: v1
kind: Service
metadata:
  name: streamlit-app-service
spec:
  selector:
    app: streamlit-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8501
      nodePort: 30080 # 30000 - 32767 or let kubernetes automatically assign one.
  type: LoadBalancer
